/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import "~jsoneditor/dist/jsoneditor.min.css";

// You can't upload images to stackblitz
div.jsoneditor-menu > button {
  background-image: url("https://jsoneditoronline.org/img/jsoneditor-icons.svg");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active_route {
  text-decoration: underline;
}

.tbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.cardStyle {
  min-height: 80%;
  margin: 6px;
}

.input_fileupload--hidden {
  display: none;
}

.buttonPosition {
  top: 50%;
  margin-left: 50%;
}

mat-sidenav {
  min-width: 20%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-fileName:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.statusIcon {
  position: relative;
  right: 10px;
}

.green-icon {
  color: green;
}

td.mat-column-errorType {
  color: orangered;
}

.spinenrStyle {
  position: relative;
  bottom: 2em;
  left: 10em;
}
.spinenrStyleDrools {
  position: relative;
  bottom: 2em;
  left: 8em;
}

.spinenrStyleUpload {
  position: relative;
  bottom: 2em;
  left: 8em;
}
